* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

nav {
    width: 25vw;
    height: 100vh;
    border: 2px solid #71717a;
    background-color: #71717a;
    display: grid;
    grid-template-rows: 0.5fr 2fr 2fr;
    border: 2px solid red;
}

svg {
    /* border: 2px solid red; */
}

#nav-title {
    display: grid;
    border: 2px solid red;
    grid-template-columns: 1fr 3fr;
}

#nav-title > div {
    font-size: 40px;
    font-weight: bold;
    align-self: center;
}