* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* Sidebar styling */

nav {
    width: 20vw;
    height: 100%;
    min-height: 100vh;
    /* border: 2px solid #71717a;
    background-color: #71717a; */
    background-color: #DDDDDD;
    border: 2px solid rgb(182, 182, 182);
    border-top: none;
    border-bottom: none;
    display: grid;
    grid-template-rows: 0.5fr 2fr 2fr;
    gap: 30px 0;
    font-weight: bold;
    color: black;
    grid-row-start: 1;
}

#nav-title {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 30px;
    padding-left: 30px;
    align-self: center;
}

#nav-title > div {
    font-size: 40px;
    align-self: center;
}

#navOne, #navOne > ul,
#navTwo, #navTwo > ul {
    font-size: 20px;
}

#navOne,
#navTwo {
    padding-left: 50px;
    /* border: 2px solid red; */
}

#navOne > ul > li,
#navTwo > ul > li {
    width: max-content;
    margin: 30px 0;
    list-style-type: none;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 10px;
}

#navOne > ul > li > img,
#navTwo > ul > li > img {
    width: 40px;
}


/* Header styling */

header {
    width: 100%;
    height: 200px;
    grid-column-start: 2;
    box-shadow: 0 4px 5px 2px grey;
    background-color: #30475E;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

#top-header,
#bottom-header {
    width: 100%;
    border: 2px solid red;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* Top header left side */
#top-header-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

#top-header-left > button {
    margin-left: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#top-header-left > button > img {
    width: 32px;
}

#top-header-left > button > span {
    display: none;
}

#search-bar {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

/* Top header right side */

#top-header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#profile-pic > img {
    width: 100px;
    border: 5px solid white;
    border-radius: 50%;
    margin: 10px 0;
}

#top-header-right > button > span {
    display: none;
}

#top-header-right > button > svg {
    width: 35px;
    fill: white;
}

#top-header-right > button {
    background-color: transparent;
    border: none;
}

#profile-name {
    color: white;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
}